<section class='categoryList'>

    {%if categoryList|length%}
    <div class="row">
        {%for categories in categoryList%}
        <div class="col-sm-3 col-lg-4">

            <div class="card">
                <div class="card-header">
                    {{categories.category_name}}
                </div>
                <ul class="list-group list-group-flush">
                    {%for items in categories.items%}
                        <li class="list-group-item">{{items.item_name}}</li>
                    {%endfor%}
                    
                    <li class="list-group-item">
                        <a href="/category/update/{{categories.categoryid}}"
                            class="btn btn-outline-secondary btn-sm">Update</a>
                        <a href="/category/delete/{{categories.categoryid}}"
                            class="btn btn-outline-danger btn-sm">Delete</a>
                    </li>
                </ul>
            </div>



        </div>
        {%endfor%}
    </div>
    {%else%}
    <div class="card">
        <div class="card-header">
            No Categories
        </div> 
    </div>
    {%endif%}
</section>