<section class='itemLists'>
    {%if itemList|length%}
    <div class="card">
        <div class="card-header">
            Items
        </div>
        <ul class="list-group list-group-flush">
            {%for items in itemList%}
            <li class="list-group-item">{{items.item_name}}
                <a href="/items/update/{{items.itemid}}" class="btn btn-outline-secondary btn-sm">Update</a>
                <a href="/items/delete/{{items.itemid}}" class="btn btn-outline-danger btn-sm">Delete</a>
            </li>
            {%endfor%}
           
        </ul>
    </div>
    {%else%}
    <div class="card">
        <div class="card-header">
            No Items
        </div> 
    </div>
    {%endif%}
   

</section>