{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Grocery list{% endblock %}

{%block respective_add_buttons%}
{% include "./Components/addButtons/addItemsAndCategory.html" %}
{%endblock%}

{%block user_auth%}
<div class="container">
    {% if current_user.is_authenticated %}
      <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
    {% else %}
      <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
      <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
    {% endif %}
</div>
{% endblock %}

{%block list_of_items%}
{% include "./Components/listingComponents/listitems.html" %}
<a href="" class='anchor-see-more'><button type="button" class="see-more-btn"></button></a>
{% endblock %}

{% block categoryList %}
{% include "./Components/listingComponents/listCategories.html" %}

<a href="" class='anchor-see-more'><button type="button" class="see-more-btn"></button></a>
{% endblock %}

{% block page_content %}



{% endblock %}