{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Grocery list{% endblock %}

{% block page_content %}

<div class="container">
    {% for category, message in get_flashed_messages(with_categories=true) %} {%
    if category == 'success' %}
    <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endif %} {% if category == 'error' %}
    <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endif %} {% endfor %}
</div>

<div class="modal fade" id="loginModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Login</h5>
            </div>
            <form method="POST" action="{{ url_for('login') }}">

                <div class="modal-body">
                    {{form.csrf_token}}
                    <p>
                        {{form.email.label}}<br />
                        {{form.email}}
                    </p>
                    <ul>
                        {%for error in form.email.errors%}
                        <li style="color:red">{{error}}</li>
                        {%endfor%}
                    </ul>

                    <p>
                        {{form.password.label}}<br />
                        {{form.password}}
                    </p>
                    <ul>
                        {%for error in form.password.errors%}
                        <li style="color:red">{{error}}</li>
                        {%endfor%}
                    </ul>

                    <p>
                        {{form.remember_user.label}}<br />
                        {{form.remember_user}}
                    </p>
                    <ul>
                        {%for error in form.remember_user.errors%}
                        <li style="color:red">{{error}}</li>
                        {%endfor%}
                    </ul>

                </div>
                <div class="modal-footer">
                    {{form.submit}}
                </div>
                <div class="modal-footer">
                    Don't have an account? &nbsp;
                    <a href="{{ url_for('register') }}">Signup</a>
                </div>
            </form>
        </div>
    </div>
</div>



{% endblock %}