{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Grocery list{% endblock %}

{% block page_content %}

<div class="modal fade" id="registerModal" data-backdrop="static" data-keyboard="false" 
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">SIGN UP</h5>
            </div>
            <form method="POST" action="/register">

                <div class="modal-body">
                    {{form.csrf_token}}
                    <p>
                        {{form.username.label}}<br />
                        {{form.username}}
                    </p>
                    <ul>
                        {%for error in form.username.errors%}
                        <li style="color:red">{{error}}</li>
                        {%endfor%}
                    </ul>
                    <p>
                        {{form.email.label}}<br />
                        {{form.email}}
                    </p>
                    <ul>
                        {%for error in form.email.errors%}
                        <li style="color:red">{{error}}</li>
                        {%endfor%}
                    </ul>

                    <p>
                        {{form.password.label}}<br />
                        {{form.password}}
                    </p>
                    <ul>
                        {%for error in form.password.errors%}
                        <li style="color:red">{{error}}</li>
                        {%endfor%}
                    </ul>

                    <p>
                        {{form.confirm_password.label}}<br />
                        {{form.confirm_password}}
                    </p>
                    <ul>
                        {%for error in form.confirm_password.errors%}
                        <li style="color:red">{{error}}</li>
                        {%endfor%}
                    </ul>

                </div>
                <div class="modal-footer">
                    {{form.submit}}
                </div>
                <div class="modal-footer">
                    Already have an account? &nbsp;
                    <a  href="{{ url_for('login') }}">Login</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}