{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Grocery list{% endblock %}

{% block page_content %}

<ul id="listOfItems">
    {%for items in itemList%}
    <li>{{items.item_name}}
        <a href="/update/{{items.item_ID}}" class="btn btn-outline-secondary btn-sm">Update</a>
        <a href="/delete/{{items.item_ID}}" class="btn btn-outline-danger btn-sm">Delete</a>
    </li>
    {%endfor%}
</ul>
<div class="container">
    {{ wtf.quick_form(form) }}
</div>


{% endblock %}